**Script para usar la api del INEGI**

In [1]:
import pandas as pd

1ro haremos uso de un archivo que nos dará las claves de zonas de México, dicho archivo se encuentra en internet, también lo subí en GitHub en el proyecto llamado WebScrapp -> Gmaps\spiders\municipios.csv

In [2]:
municipios=pd.read_csv(r'C:\Users\mauiv\Documents\Gmaps\Gmaps\spiders\municipios.csv', index_col=0) #Leemos el archivo csv que contiene claves de municipios y EF de México
Estados=municipios.iloc[:,:2].drop_duplicates()
#reordenamos los indices
Estados=Estados.reset_index(drop=True)
municipios.head()

   CVE_ENT         NOM_ENT NOM_ABR  CVE_MUN         NOM_MUN
0        1  Aguascalientes    Ags.        1  AGUASCALIENTES
1        1  Aguascalientes    Ags.        2        ASIENTOS
2        1  Aguascalientes    Ags.        3        CALVILLO
3        1  Aguascalientes    Ags.        4           COSIO
4        1  Aguascalientes    Ags.        5     JESUS MARIA

In [4]:
Estados

    CVE_ENT              NOM_ENT
0         1       Aguascalientes
1         2      Baja California
2         3  Baja California Sur
3         4             Campeche
4         5             Coahuila
5         6               Colima
6         7              Chiapas
7         8            Chihuahua
8         9                 CDMX
9        10              Durango
10       11           Guanajuato
11       12             Guerrero
12       13              Hidalgo
13       14              Jalisco
14       15     Estado de Mexico
15       16            Michoacan
16       17              Morelos
17       18              Nayarit
18       19           Nuevo Leon
19       20               Oaxaca
20       21               Puebla
21       22            Queretaro
22       23         Quintana Roo
23       24      San Luis Potosi
24       25              Sinaloa
25       26               Sonora
26       27              Tabasco
27       28           Tamaulipas
28       29             Tlaxcala
29       30             Veracruz
30       31              Yucatan
31       32            Zacatecas

In [5]:
municipios[municipios.CVE_ENT==9] #Municipios de la Ciudad de México

     CVE_ENT NOM_ENT NOM_ABR  CVE_MUN                 NOM_MUN
275        9    CDMX    CDMX        2            AZCAPOTZALCO
276        9    CDMX    CDMX        3                COYOACAN
277        9    CDMX    CDMX        4   CUAJIMALPA DE MORELOS
278        9    CDMX    CDMX        5       GUSTAVO A. MADERO
279        9    CDMX    CDMX        6               IZTACALCO
280        9    CDMX    CDMX        7              IZTAPALAPA
281        9    CDMX    CDMX        8  LA MAGDALENA CONTRERAS
282        9    CDMX    CDMX        9              MILPA ALTA
283        9    CDMX    CDMX       10          ALVARO OBREGON
284        9    CDMX    CDMX       11                 TLAHUAC
285        9    CDMX    CDMX       12                 TLALPAN
286        9    CDMX    CDMX       13              XOCHIMILCO
287        9    CDMX    CDMX       14           BENITO JUAREZ
288        9    CDMX    CDMX       15              CUAUHTEMOC
289        9    CDMX    CDMX       16          MIGUEL HIDALGO
290        9    CDMX    CDMX       17     VENUSTIANO CARRANZA

Esta es la parte donde obtenemos información del INEGI, para hacer uso de esta debes antes pedir un token (personal) en la página del INEGI. Poner tu token donde dice "(token)"

In [12]:
#Creando el link para la consulta de la API de INEGI
#clave del estado
cve_edo=9 #CDMX
#clave del municipio
cve_mun=0 #todas
#Nombre de la empresa (en vez de espacios poner comas)         
nombre=''
#cuantos resultados quiero
c_resultados=100
#tipode negocio preparacion de alimentos y bebidas para el consumo: 72
#tipode negocio comercio al por menor en tiendas de autoservicio: 47
#tipode negocio servicio de esparcimiento cultural y deportivo: 71
#tipode negocio comercio al por menor en tiendas de autoservicio: 46
#tipode negocio comercio al por menor en tiendas de abarrotes: 48
tiponeg=72
aux='https://www.inegi.org.mx/app/api/denue/v1/consulta/BuscarAreaActEstr/'+ str(cve_edo) +'/'+ str(cve_mun) +'/0/0/0/'+str(tiponeg)+'/0/0/0/'+ nombre +'/0/' + str(c_resultados) + '/0/0/(token)'

In [14]:
import requests
website=requests.get(aux).json()
df=pd.DataFrame(website)
df.head()

,CLEE,Id,Nombre,Razon_social,Clase_actividad,Estrato,Tipo_vialidad,Calle,Num_Exterior,Num_Interior,...,CLASE_ACTIVIDAD_ID,EDIFICIO_PISO,SECTOR_ACTIVIDAD_ID,SUBSECTOR_ACTIVIDAD_ID,RAMA_ACTIVIDAD_ID,SUBRAMA_ACTIVIDAD_ID,EDIFICIO,Tipo_Asentamiento,Fecha_Alta,AreaGeo
0,09002722513004564000037878S7,8332181,LA CASA DE TOÑO,GRUPO RESTAURANTERO GR2 SA DE CV,Restaurantes con servicio de preparación de an...,31 a 50 personas,CALLE,FLORESTA,77,,...,722513,,72,722,7225,72251,,COLONIA,2019-11,090020001
1,09005722513011503000037878S9,8332182,LA CASA DE TOÑO,GRUPO RESTAURANTERO GR2 SA DE CV,Restaurantes con servicio de preparación de an...,11 a 30 personas,AVENIDA,GUILLERMO MASSIEU HELGUERA,86,,...,722513,,72,722,7225,72251,,COLONIA,2019-11,090050001
2,09016722513004264000037877S4,8332611,LA CASA DE TOÑO,GASTRONOMICA LCDBC SA DE CV,Restaurantes con servicio de preparación de an...,31 a 50 personas,AVENIDA,RODOLFO GAONA,3,201,...,722513,,72,722,7225,72251,,COLONIA,2019-11,090160001
3,09015812410008431000037878S7,893204,ESTACIONAMIENTO DEL RESTAURANTE LA CASA DE TOÑO,GRUPO RESTAURANTERO GR2 SA DE CV,Restaurantes con servicio de preparación de an...,0 a 5 personas,CALLE,SABINO,175,0,...,722513,,72,722,7225,72251,,PROLONGACION,2014-12,090150001
4,09016722219010462011003470S0,6257405,LA CASA DE TOÑO,INGENIERIA EN ALIMENTOS ADA SA DE CV,Restaurantes con servicio de preparación de an...,11 a 30 personas,CALLE,BAHÍA ESPÍRITU SANTO,21,0,...,722513,,72,722,7225,72251,,COLONIA,2010-07,090160001

In [21]:
df.to_csv('algo.csv')

No hacer caso a lo siguiente, es lo mismo pero con anotaciones para mí, para ver todas las características que podemos cambiar consultar la api del INEGI.

In [18]:
import pandas as pd
#clave del estado
cve_edo=9 #CDMX
#clave del municipio
cve_mun=0 #todas
#Nombre de la empresa (en vez de espacios poner comas)         
nombre='smart.fit'
#cuantos resultados quiero
c_resultados=200
#tipode negocio servicio de esparcimiento cultural y deportivo: 71
#tipode negocio preparacion de alimentos y bebidas para el consumo: 72
#tipode negocio comercio al por menor en tiendas de autoservicio: 46
#supermercados: 462
#tipode negocio comercio al por menor en tiendas de abarrotes: 48
#https://www.inegi.org.mx/app/api/denue/v1/consulta/BuscarAreaActEstr/9/0/0/0/0/71/713/71394/0/0/0/200/0/7/(token) 
#sirve para buscar todos los gimnasios grandes pues 7 es el más grande (251 y más), 6 (101-250), 5 (51-100), 4  (26-50), 3  (11-25), 2 (6-10), 1  (1-5)
tiponeg=71
especific0=0
aux='https://www.inegi.org.mx/app/api/denue/v1/consulta/BuscarAreaActEstr/'+ str(cve_edo) +'/'+ str(cve_mun) +'/0/0/0/'+str(tiponeg)+'/'+str(especific0)+'/0/0/'+ nombre +'/0/' + str(c_resultados) + '/0/0/(token)'
#aux3='https://www.inegi.org.mx/app/api/denue/v1/consulta/BuscarAreaActEstr/9/0/0/0/0/71/713/71394/0/0/0/200/0/5/(token)'
import requests
website=requests.get(aux).json()
df=pd.DataFrame(website)
df.shape

(11, 34)

In [10]:
#obtenemos el index de los registros con latitud y longitud duplicados
index=df[df.duplicated(subset=['Latitud','Longitud'], keep=False)].index

In [11]:
#Dependiendo del tipo de negocio puede que tengas registradas varias sucursales en 
# el mismo lugar, por lo que se duplican las coordenadas
df.drop(index, inplace=True)
df.shape

(28, 34)

In [11]:
df1=df.loc[:,['Latitud','Longitud']]
df1.shape

(123, 2)

In [12]:
df1.drop_duplicates(inplace=True)

In [13]:
df1.shape

(120, 2)